
html {
  background-color: $background-color;
  font-size: 12px;
  line-height: 1.5;
  color: $text-color;
  min-width: 320px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $brand-color;
}

a:visited {
  font-weight: normal;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }