{% extends "default.html.twig" %}

{% block title %}
    {{ site.title }} - Contact
{% endblock %}

{% block body %}
    <section class="contact row">
        <div class="direct eight columns">
            <h2>Contact</h2>
            <ul>
                <li>Freenode IRC (irc.freenode.net): <em>sfix</em></li>
                <li>OFTC IRC (irc.oftc.net): <em>sfix</em></li>
                <li>E-mail address: <em>gary.tierney[at]gmx.com</em></li>
            </ul>
        </div>
        <div class="social four columns">
            <h2>Online</h2>
            <ul>
                <li><a href="http://github.com/garyttierney/"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
    </section>
{% endblock %}