nav {
  float:right;

  @media screen and (max-width: 720px) {
    float: none;
    text-align: center;
  }

  padding-top: 1.25em;

  & > ul {

    li {
      list-style-type: none;
      display: inline-block;
    }

    li:before {
      content: " - ";
    }

    li:first-child:before {
      content: none;
    }
  }

}