.post-listing {
  article {
    header h2 {
      text-align: left;
    }

    header aside {
      text-align: right;
      color: #ddd;
      margin-top: 0.66667em;

      & > * {
        display: block;
      }
    }

    &:last-of-type {
      margin-bottom: 5em;
    }
  }

  .pagination {
    text-align: center;

    a {
      text-decoration: none;

      &.disabled {
        color: #d5d5d5;

        &:hover {
          color: #d5d5d5;;
        }
      }
    }

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      list-style-type: none;
      padding-left: 3em;
    }

    li:first-child {
      padding-left: 0;
    }
  }
}
