<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ site.title }}{% endblock %}</title>
    <meta name="description" content="A website and blog about Linux and programming.">
    <meta name="robots" content="index,follow">

    {% block meta %}
        <meta name="keywords" content="linux,programming">
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="name, gary.tierney@gmx.com">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <link rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico'/>
    <link rel='shortcut icon' type='image/svg' sizes="any" href='/assets/favicon.svg'/>
    <link rel='shortcut icon' type='image/png' href='/assets/favicon.png'/>
</head>
<body>

<div class="container">
    {% block content %}
        Placeholder.
    {% endblock %}
    <script type="text/javascript">
        WebFontConfig = {
            google: {families: ['Droid+Sans:400,700:latin']}
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);

            var css = document.createElement('link');
            css.rel = 'stylesheet';
            css.href = '/css/main.css';
            var head = document.getElementsByTagName('head')[0];
            head.appendChild(css);
        })();
    </script>
</div>

</body>
</html>
